* {
  margin: 0;
  padding: 0;
}

/* header */

#titre_principal
{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
#logo img
{
    display: flex;
    width: 50px;
    height: 50px;
}
#searchBar{
    display: inline-block;
    justify-content: center;
    margin: auto;
}
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .menu > li {
    color: white;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background:#3D5467,rgb(255,255,255);
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    border-radius: 30px;
    list-style-type: none;
  }
  .sub-menu {
    transform: scale(0);
    transform-origin: top center;
    z-index: 2;
  }
  .sub-menu li {
    font-size: 14px;
    background: #3D5467;
    padding: 8px 0;
    color: white;
    border-bottom: 1px solid rgba(197, 203, 219, 0.8);
    transform: scale(0);
    transform-origin: top center;
    border-radius: 6px;
    
  }
  .sub-menu li:last-child {
    border-bottom: 0;
  }
  .sub-menu li:hover {
    background: rgba(97, 126, 213, 0.8);
  }
  .menu > li:hover .sub-menu li{
    transform: scale(1);
  }
  .menu > li:hover .sub-menu {
    transform: scale(1);
  }
  .navbox{
  margin-left: 50px;
  margin-right: 50px;
  background:#3D5467;
  border-radius: 6px;
  margin-bottom: 50px;
  }

/* produit */
#box_produit {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: left;
  flex-wrap: nowrap;
}

#produit {
}
#description {
  background-color: rgb(0, 183, 255);
  padding: 15px;
  border-radius: 10px;
  height: fit-content;
  margin-left: 100px;
  margin-top: 30px;
}
ul {
  margin-left: 20px;
}

h2 {
  font-size: 40px;
}
#suggestion {
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
  margin-top: 1cm;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#titre-desc {
  display: flex;
  justify-content: center;
  margin-top: 2cm;
}
#descriptif {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  width: 80%;
  margin: auto;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 5px;
}

/*Footer*/
#footer {
  border: 1px solid black;
  background-color: #3D5467;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}
#nous {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
#cg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
#reseaux {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
}
h2 {
  color: rgb(0, 183, 255);
  text-align: center;
}
.lien {
  text-decoration: none !important;
  color: black;
}
.logor {
  align-self: center;
}
.reseausocio img {
  height: 40px;
  width: auto;
}
