* {
  margin: 0;
  padding: 0;
}
/* header */

/* produit */
#box_produit {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: left;
  flex-wrap: nowrap;
}
h5 {
  font-size: 50px;
  text-decoration: underline;
  text-transform: capitalize;
  margin-bottom: 10px;
}
#produit {
  height: 500px;
  padding: 0px;
}
#description {
  background-color: rgb(0, 183, 255);
  padding: 15px;
  border-radius: 10px;
  height: fit-content;
  margin-left: 100px;
  margin-top: 80px;
}
ul {
  margin-left: 20px;
}

h2 {
  font-size: 25px;
}
#suggestion {
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
  margin-top: 1cm;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#titre-desc {
  display: flex;
  justify-content: center;
  margin-top: 2cm;
}
#descriptif {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 5px;
}
