* {
  margin: 0;
}

#titre_principal {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
#logo img {
  display: flex;
  width: 50px;
}
#searchBar {
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
#navbar {
  display: flex;
  margin: auto;
  justify-content: center;
  justify-content: space-around;
  padding: 20px 20px;
}
hr {
  position: sticky;
}
.dropdown {
  display: inline-block;
  align-content: stretch;
  position: fixed;
}
.dropdown-content {
  display: none;
  position: relative;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #ffffff;
  background-color: #00a4bd;
}
