* {
  margin: 0px;
  padding: 0%;
}

/* filtre et article */
#content {
  display: flex;
  flex-direction: row;

  width: 90%;
  flex-wrap: nowrap;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
#filtremenu {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  flex-wrap: wrap;
  max-width: 15%;
  min-width: 15%;
}

#article {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 50px;
  flex-wrap: wrap;
  width: auto;
  height: fit-content;
  text-decoration: none;
}

.laptop {
  margin-right: 40px;
  margin-bottom: 50px;
  position: relative;
  display: none;
}

:hover.laptop {
  padding: 10px;
  border: 2px solid black;
  background-color: rgb(211, 246, 253);
  border-radius: 5%;
  transform: none;
  transform: scale(1.2);
  transition: transform 1s;
}

.prix {
  animation-duration: 2.5s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
  text-decoration: none !important;
}
@keyframes clignoter {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img {
  height: 120px;
  width: auto;
}
p {
  font-size: 20px;
}
.prix {
  font-size: 40px;
  font-style: oblique;
  color: rgb(53, 127, 206);
}
h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 5px;
}

h5 {
  font-size: 30px;
}

/* début Footer */
#footer {
  border: 1px solid black;
  background-color: rgba(91, 193, 193, 0.73);

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 0.5cm;
  padding-top: 0.5cm;
}
#nous {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
#cg {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
#reseaux {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
}
h2 {
  font-size: 30px;
  color: rgb(0, 183, 255);
  text-align: center;
}
.lien {
  text-decoration: none !important;
  color: black;
}
.logor {
  align-self: center;
}
.imgfoot {
  height: 40px;
  width: auto;
}

/* fin footer */
