*{
    margin: 0;
}
#titre_principal
{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
#logo img
{
    display: flex;
    width: 50px;
}
#searchBar{
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}
.navbar{
    display: flex;
    margin: auto;
    justify-content: center;
    justify-content: space-around;
    padding: 20px 20px;
}
  .menu-label,
.menu-cb {
  /* Retire l'affichage par défaut des éléments de formulaire */
  /* ... comme les checkbox */
  appearance: none;

  /* Défini une position fixe, comme ajouté précedemment */
  position: relative;
}
.menu-nav {
    /* [...les autres propriétés CSS...] */
    display: none;
  }
.menu-cb:checked ~ .menu-nav {
    display: block;
}
