#logo img
{
    width: 100px;
    height: 100px;
}
#header
{
display: flex;
justify-content: space-between;
}
h1
{
    text-align: center;
}
#mainwraper
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#borderhelp
{
    border-style: solid;
}
#cathelp
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 180px;
    gap: 35px;

}
#contact
{
    display: flex;
    flex-direction: column;
}